* {
    box-sizing: border-box;
}

body{
    background-image: url("/img/wallpaper-beach-2.jpg ");
    background-size: cover;
}

.container {
    padding-left: 0;
    margin-left: 0;
    display: inline;
}

.row {
    --bs-gutter-x: 0;
}

.bg-body {
    --bs-bg-opacity: 0.1;
}

.block {
    display: flex;
}

.sidebar {
    /*position: fixed;*/
    width: 200px;
    height: 100vh;
}

.border-bottom {
    /*display: none!important;*/
}
 .py-2 {
     padding-bottom: 0!important;
 }
.py-3 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.my-4 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.mt-4 {
    display: flex;
    justify-content: center;
}


h3 {
    text-align: center;
}

.card {
    width: 90%;
    max-width: 400px;
    padding: 2rem 2rem 0.5rem 2rem;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
    background-color: rgba(225,225,225,0.05);
    border: 1px solid rgba(225, 225, 225, 0.5);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-bottom-color: rgba(225, 225, 225, 0.1);
}

.card-body {
    padding: 1rem 1rem 0.5rem 1rem;
}

.update {
    color: orangered;
}

.suites-images {
    margin-right: 5px;
    max-width: 200px;
    max-height: 200px;
}
.cover {
    max-width: 200px;
    max-height: 200px;
}

span.message {
    color: #d63384;
}

